!!!
%html
  %head
    %script{:type => 'text/javascript', :src  => 'zepto.js'}
    %script{:type => 'text/javascript', :src  => 'underscore.js'}
    %script{:type => 'text/javascript', :src  => 'backbone.js'}
    %script{:type => 'text/javascript', :src  => 'handlebars-1.0.rc.1.js'}
    %script{:type => 'text/javascript', :src  => 'uuid.js'}
    %script{:type => 'text/javascript', :src  => 'app.js'}

    :coffeescript
      Zepto ($) ->
        null

  %body
